**Методы для работы с временем в Pandas**

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
my_year = 2015
my_month = 1
my_day = 1
my_hour = 2
my_min = 30
my_sec = 15

In [3]:
my_date = datetime(my_year, my_month, my_day)

In [4]:
my_date

datetime.datetime(2015, 1, 1, 0, 0)

In [5]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_min, my_sec)

In [6]:
my_date_time

datetime.datetime(2015, 1, 1, 2, 30, 15)

In [7]:
my_date_time.year

2015

In [8]:
my_date_time.second

15

In [9]:
my_ser = pd.Series(["Nov 3, 1990", "2000-01-01", None])

In [10]:
my_ser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [11]:
time_ser = pd.to_datetime(my_ser, format="mixed")

In [12]:
time_ser[0].year

1990

In [13]:
obvi_eur_date = "31-12-2000"

In [14]:
pd.to_datetime(obvi_eur_date, format="mixed")

Timestamp('2000-12-31 00:00:00')

In [15]:
euro_date = "10-12-2000"

In [16]:
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [17]:
style_date = "22--Dec--2000"

In [18]:
pd.to_datetime(style_date, format="%d--%b--%Y")

Timestamp('2000-12-22 00:00:00')

In [19]:
custom_date = "12th of Dec 2000"

In [20]:
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [21]:
sales = pd.read_csv("/content/drive/MyDrive/Data/RetailSales_BeerWineLiquor.csv")

In [22]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [24]:
sales["DATE"] = pd.to_datetime(sales["DATE"])

In [25]:
sales["DATE"]

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [27]:
sales["DATE"][0].year

1992

In [28]:
sales = pd.read_csv("/content/drive/MyDrive/Data/RetailSales_BeerWineLiquor.csv", parse_dates=[0])

In [29]:
sales["DATE"]

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [30]:
sales = sales.set_index("DATE")

In [33]:
sales.resample(rule='A').mean()

<ipython-input-33-fb61b00520a5>:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  sales.resample(rule='A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [34]:
sales = pd.read_csv("/content/drive/MyDrive/Data/RetailSales_BeerWineLiquor.csv", parse_dates=[0])

In [35]:
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [37]:
sales["DATE"].dt.year

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int32