**Методы для работы с текстом в Pandas**

In [188]:
import numpy as np
import pandas as pd

In [191]:
names = pd.Series(["andrew", "johan", "aizen", "lelouch", "5"])

In [192]:
names

0     andrew
1      johan
2      aizen
3    lelouch
4          5
dtype: object

In [194]:
names.str.upper()

0     ANDREW
1      JOHAN
2      AIZEN
3    LELOUCH
4          5
dtype: object

In [195]:
names.str.capitalize()

0     Andrew
1      Johan
2      Aizen
3    Lelouch
4          5
dtype: object

In [197]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [198]:
tech_finance = ["AAPL,GOOG,AMZN", "JPM,BAC,GS"]

In [199]:
len(tech_finance)

2

In [200]:
tickers = pd.Series(tech_finance)

In [201]:
tickers

0    AAPL,GOOG,AMZN
1        JPM,BAC,GS
dtype: object

In [207]:
tickers.str.split(',', expand=True)

      0     1     2
0  AAPL  GOOG  AMZN
1   JPM   BAC    GS

In [203]:
tech = "AAPL,GOOG,AMZN"

In [205]:
tech.split(',')[0]

'AAPL'

In [208]:
messy_names = pd.Series(["johan  ", "ai:zen", "  lelouch  "])

In [209]:
messy_names

0        johan
1         ai:zen
2      lelouch
dtype: object

In [210]:
messy_names[2]

'  lelouch  '

In [213]:
messy_names.str.replace(':', '').str.strip().str.capitalize()

0      Johan
1      Aizen
2    Lelouch
dtype: object

In [214]:
def cleanup(name):
  name = name.replace(':', '')
  name = name.strip()
  name = name.capitalize()
  return name

In [216]:
messy_names.apply(cleanup)

0      Johan
1      Aizen
2    Lelouch
dtype: object